<% @destination.interests.each do |interest| %>
<div class="well">
  <%= interest.traveler_name %><p>
  <%= interest.social_link %><p>
  <%= interest.start_date %><p>
  <%= interest.end_date %><p>
  <%= interest.comment %> <p>
  <%= link_to "edit interest", edit_destination_interest_path(@destination, interest) %><p>
    <%= link_to "delete interest", [interest.destination, interest], method: :delete, data: {confirm: "Are you sure you?"} %>
</div>

<% end %>



        <%# link_to 'delete', [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %>



        <!-- Interest(id: integer, traveler_name: string, social_link: string, start_date: date, end_date: date, comment: text, destination_id: integer, created_at: datetime, updated_at: datetime) -->
