<% @destination.interests.each do |interest| %>
<div class="well">
  <%= interest.traveler_name %><p>
  <%= interest.social_link %><p>
  <%= interest.start_date %><p>
  <%= interest.end_date %><p>
  <%= interest.comment %>
</div>

<% end %>







        <!-- Interest(id: integer, traveler_name: string, social_link: string, start_date: date, end_date: date, comment: text, destination_id: integer, created_at: datetime, updated_at: datetime) -->
