

<% @destination.each do |destination| %>
<div class="well">
    <h2><%= link_to destination.place, destination_path(destination) %></h2>
    <%= destination.traveler_name %>
    <p>
        <%= destination.social_link %>
        <p>
            Start:
            <%= destination.start_date %>
        </p>
        End:
        <%= destination.end_date %>
        <p>
            <%= destination.intro %>
        </p>
    </div>

    <% end %>
