<div class="pagewrapper">
  <%= image_tag @destination.user.image_url %>
<p><%= @destination.place %></p>
<h3><%=  @destination.user.name %></h3>

<h3><%= link_to "View Facebook Profile", @destination.user.url, target: :_blank %></h3>

<h3>Arrive: <%= @destination.start_date %></h3>

<h3>Depart: <%= @destination.end_date %></h3>

<h3><%= @destination.intro %></h3>
<% if @destination.user == current_user %>
<h3><%= link_to "Edit Destination", edit_destination_path(@destination) %></h3>
<h3><%= link_to "Delete Destination", destination_path(@destination), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"} %></h3>
<% end %>
<hr>
<%= render "interests/show" %>
<%= render "interests/new" %>
</div>

<!-- Destination(id: integer, place: string, traveler_name: string, social_link: string, start_date: date, end_date: date, intro: text, created_at: datetime, updated_at: datetime) -->
