<!DOCTYPE html>
<html>
    <head>
        <title>Travl With Friends</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <nav>
                <ul class="topnav" id= "myTopnav">
                    <li><%= image_tag "logo.png" %></li><li>
                        <%= link_to "Travl With Friends", destinations_path %></li>
                    <li><%= link_to "Create New Destination", new_destination_path %></li>
                    <li class="searchForm">
                        <%= form_tag search_destinations_path do %>
                        <input class="search full-width" id="searchbar" name="query" placeholder="Search Destinations" type="text">
                        <%= submit_tag "Search", :place => nil %></li>
                        <% end %>

                    <% if current_user %>

                    <li class="userInfo"><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
                    <li class="userInfo"><%= link_to current_user.name, destinations_path %></li><%= image_tag current_user.image_url %>


                <% else %>
                    <li class="userInfo"><%= link_to "auth/facebook" do %>Sign In With Facebook<% end %></li>
                    <% end %>
                </ul>
            </nav>
        </header>

        <%= yield %>


    </body>

</html>
